<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link rel="shortcut icon" href="https://www.diva-e.com/fileadmin/templates/fluid/images/favicon.ico" type="image/x-icon">
  </head>
  <body>

    <!--  
      <h1><%= htmlWebpackPlugin.options.pageTitle %></h1>
      <h2><%= htmlWebpackPlugin.options.challengeTitle %></h2>
    -->
    saturation (0-100): <input id="sat" type="number" value="50">
    speechbobble size: <input id="sbf" type="number" value="50">
    speech recognition: <input id="enableSpeechReg" type="checkbox" >
    <br/>
    speechbobble text: <input id="sph" type="text" value="POW!!!">
     <input id="sph2" type="text" value="Challenge accepted">
     <input id="sph3" type="text" value="Oh yeah!">
    <br />
    <div id="artwork-border">
      <div id="artwork-wrapper" style="width: 842px; height: 596px;"></div>
    </div>

    <div id="credits">
      <div class="block">
        <label class="title">Title</label>
        <label class="artist">Artist</label>
      </div>
    </div>

  </body>
</html>